.icons {
   width: 2em;
   height: 5em;
   display: inline-block;
}

p {
   display: inline-block;
   margin-top: 1.69em;
   margin-left: 2.5em;
   font-size: 1.1em;
}

@media only screen and (max-width: 376px) and (min-width: 320px) {
   p {
      margin-left: 1em;
   }
}

h6 {
   display: inline-block;
   padding-right: 45%;
}

.icon_style {
   margin-top: 1.25em;
   margin-bottom: 1.25em;
}

.icon_styleS {
   margin-bottom: 0em;
}

h3 {
   margin-bottom: 0.13em;
}

/*# sourceMappingURL=pattern.css.map */
