#ask_for_pricing {
   width: 6.5em;
   height: 2.5em;
   position: fixed;
   bottom: 64%;
   right: 1.6875em;
   display: inline-block;
}

#ask_for_pricing_rwd {
   display: none;
}

.btn {
   border-radius: 0;
   font-weight: bolder;
   background-color: $btn_color;
   border-color: $primary-color;
}

.btn:hover {
   background-color: $btn-hover;
   border-color: $primary-color;
}
