.alert {
   margin-bottom: 3%;
   bottom: 1%;
   background-color: $btn-color;
   border: 1px solid $for-outlines;
   z-index: 3;
   width: 100%;
}

#cookie_image_id {
   width: $sticky-icon-width;
   height: $sticky-icon-height;
   margin: 1%;
   padding: 0.3em;
}

.cookie_content {
   text-align: justify;
   color: $color-white;
}

.alert-dismissible .close {
   bottom: 0.5em;
   right: 0;
   color: $color-white;
}
