//Carousels

div.carousel-inner {
   height: 15.5em;
   margin-bottom: 5.25em;
   margin-top: 4.55em;

   p {
      font-size: 0.875em;
      text-align: justify;
      margin-right: 10%;
      margin-left: 10%;
   }
}

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active {
   background-color: $facilities-items;
   z-index: 1;
}

.carousel-indicators li {
   width: 0.625em;
   height: 0.625em;
   border-radius: 100%;
   background-color: lightgrey;
   top: 4.375em;
}

.col-sm,
.row.col-xs {
   align: left;
}

.col-lg,
.row.col-md {
   align: center;
}
