.footer {
   background-color: $primary-color;
   position: fixed;
   bottom: 0;
   margin-top: 1%;
   border: 1px solid $for-outlines;

   p {
      color: $effects-color;
      font-size: 0.75em;
      font-weight: 600;
   }

   p:not(:first-child):hover {
      color: $text-on-primary-color;
      cursor: pointer;
   }
}
