nav {
   width: 100%;
}

.navbar {
   background: $primary-color;
   font-size: 0.9375em;
   padding-top: 2%;
   padding-bottom: 2%;
   font-weight: 600;
}
@media only screen and (min-width: 997px) {
   #flags {
      margin: 0.313em;
      position: absolute;
      display: inline-block;
      left: 91%;
   }
}

#en,
#pl {
   margin: 0.120em;
   z-index: 5;
}

#en:hover,
#pl:hover {
   cursor: pointer;
}

.navbar-toggler:focus {
   outline: 0.0625em dotted $secondary-light-color;
}

.navbar-toggler {
   background-color: $color-white;
}

.nav-link:active {
   outline: 0;
}
