//Navbar
@media only screen and (min-width: 997px) {
   #flags {
      margin: 0.313em;
      position: absolute;
      display: inline-block;
      left: 91%;
   }
}
@media only screen and(max-width:991px) {
   #ask_for_pricing {
      display: none;
   }
}
@media only screen and(max-width:991px) {
   #ask_for_pricing_rwd {
      display: inline-block;
      margin-right: 0.625em;
   }
}
//Contact icons (the blue one)
@media only screen and (max-width:795px) {
   .contact p {
      font-size: 0.6875em;
      margin-left: 2em;
   }
}
//Icons and labels for Personal components
@media only screen and (max-width:767px) {
   .account_style {
      p {
         font-size: 0.75em;
      }

      img {
         width: 3.5em;
         height: 7em;
      }
   }
}
@media only screen and (max-width:305px) {
   .account_style {
      img {
         width: 2.5em;
         height: 6em;
      }
   }
}
@media only screen and (max-width:289px) {
   .account_style {
      img {
         width: 1.5em;
         height: 2em;
      }
   }
}
@media only screen and (max-width:376px) {
   .account_style {
      img {
         margin-left: 0.5em;
         margin-right: 0.125em;
      }
   }
}

@media only screen and (max-width:362px) {
   .special_section{
      padding-top:0.5em;
   }
}

//Personal
@media only screen and (min-width:347px){
   div.account_style {
      margin-left:12%;
   }
}
