.special_section {
   background-color: $primary-color;
   height: 19.25em;
   padding-top: 2.5em;
   padding-bottom: -2em;
   width: 100%;

   #logo {
      position: relative;
      top: 2.125em;
   }

   .xyz {
      display: inline;
      padding: 1.25em;
   }

   h2,
   p {
      position: relative;
      top: 1.30em;
   }
}

.contact {
   background-color: $primary-color;
   border: 1px solid $for-outlines;
   padding: 1em;

   img {
      width: 1.875em;
      height: 1.5625em;
   }

   p {
      font-size: 0.75em;
   }
}
