@import "https://fonts.googleapis.com/css?family=Lato:300";
@import "https://fonts.googleapis.com/css?family=Nothing+You+Could+Do'";
div, .section, .row {
   overflow-x: hidden;
   overflow-y: hidden;
   -ms-overflow-style: none;
}

.alert {
   margin-bottom: 3%;
   bottom: 1%;
   background-color: #1e2d4b;
   border: 1px solid rgba(209, 67, 43, 0.22);
   z-index: 3;
   width: 100%;
}

#cookie_image_id {
   width: 6.5em;
   height: 2.5em;
   margin: 1%;
   padding: 0.3em;
}

.cookie_content {
   text-align: justify;
   color: #FFFFFF;
}

.alert-dismissible .close {
   bottom: 0.5em;
   right: 0;
   color: #FFFFFF;
}

#ask_for_pricing {
   width: 6.5em;
   height: 2.5em;
   position: fixed;
   bottom: 64%;
   right: 1.6875em;
   display: inline-block;
}

#ask_for_pricing_rwd {
   display: none;
}

.btn {
   border-radius: 0;
   font-weight: bolder;
   background-color: #1e2d4b;
   border-color: lightgrey;
}

.btn:hover {
   background-color: #7682a6;
   border-color: lightgrey;
}

nav {
   width: 100%;
}

.navbar {
   background: lightgrey;
   font-size: 0.9375em;
   padding-top: 2%;
   padding-bottom: 2%;
   font-weight: 600;
}

@media only screen and (min-width: 997px) {
   #flags {
      margin: 0.313em;
      position: absolute;
      display: inline-block;
      left: 91%;
   }
}

#pl, #en {
   margin: 0.12em;
   z-index: 5;
}

#pl:hover, #en:hover {
   cursor: pointer;
}

.navbar-toggler:focus {
   outline: 0.0625em dotted #d1432b;
}

.navbar-toggler {
   background-color: #FFFFFF;
}

.nav-link:active {
   outline: 0;
}

.footer {
   background-color: lightgrey;
   position: relative;
   bottom: 0em;
   width: 100%;
   margin-top: 1%;
   border: 1px solid rgba(209, 67, 43, 0.22);
}

.footer p {
   color: #48554c;
   font-size: 0.75em;
   font-weight: 600;
}

.footer p:not(:first-child):hover {
   color: #000000;
   cursor: pointer;
}

section {
   width: 75%;
   height: 80%;
   border-radius: 0.415em;
}

.icons {
   color: #000000;
   margin-right: -1.35em;
}

@media only screen and (min-width: 347px) {
   div.account_style {
      margin-left: 12%;
   }
}

.special_section {
   background-color: lightgrey;
   height: 19.25em;
   padding-top: 2.5em;
   padding-bottom: -2em;
}

.special_section #logo {
   position: relative;
   top: 2.125em;
}

.special_section .xyz {
   display: inline;
   padding: 1.25em;
}

.special_section h2, .special_section p {
   position: relative;
   top: 1.3em;
}

.contact {
   background-color: lightgrey;
   border: 1px solid rgba(209, 67, 43, 0.22);
   padding: 1em 1em;
}

.contact img {
   width: 1.875em;
   height: 1.5625em;
}

.contact p {
   font-size: 0.75em;
}

@media only screen and (min-width: 997px) {
   #flags {
      margin: 0.313em;
      position: absolute;
      display: inline-block;
      left: 91%;
   }
}

@media only screen and (max-width: 991px) {
   #ask_for_pricing {
      display: none;
   }
}

@media only screen and (max-width: 991px) {
   #ask_for_pricing_rwd {
      display: inline-block;
      margin-right: 0.625em;
   }
}

@media only screen and (max-width: 795px) {
   .contact p {
      font-size: 0.6875em;
      margin-left: 2em;
   }
}

@media only screen and (max-width: 767px) {
   .account_style p {
      font-size: 0.75em;
   }
   .account_style img {
      width: 3.5em;
      height: 7em;
   }
}

@media only screen and (max-width: 305px) {
   .account_style img {
      width: 2.5em;
      height: 6em;
   }
}

@media only screen and (max-width: 289px) {
   .account_style img {
      width: 1.5em;
      height: 2em;
   }
}

@media only screen and (max-width: 376px) {
   .account_style img {
      margin-left: 0.5em;
      margin-right: 0.125em;
   }
}

@media only screen and (max-width: 362px) {
   .special_section {
      padding-top: 0.5em;
   }
}

div.carousel-inner {
   height: 15.5em;
   margin-bottom: 5.25em;
   margin-top: 4.55em;
}

div.carousel-inner p {
   font-size: 0.875em;
   text-align: justify;
   margin-right: 10%;
   margin-left: 10%;
}

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active {
   background-color: #0084b1;
   z-index: 1;
}

.carousel-indicators li {
   width: 0.625em;
   height: 0.625em;
   border-radius: 100%;
   background-color: lightgrey;
   top: 4.375em;
}

.row.col-xs, .col-sm {
   align: left;
}

.row.col-md, .col-lg {
   align: center;
}

body {
   font-family: "Lato", sans-serif;
   height: 100%;
   min-height: 100%;
   background-color: #efefef;
}

.row:first-child {
   margin-top: 7%;
}

.row.white {
   background-color: #FFFFFF;
   margin-top: 0.625em;
   margin-bottom: 0.625em;
}

a {
   font-weight: bolder;
}

a:hover {
   text-decoration: none;
   color: #650000;
}

a, h1, h2, h3, h4, h5, h6, p {
   color: #000000;
}
